# Verilog is main language
*.v linguist-language=Verilog
*.sv linguist-language=Verilog

# ignore tools/scripts
vivado/** linguist-vendored
*.tcl linguist-vendored
*.xdc linguist-vendored
*.do linguist-vendored
